include version.txt

recursive-include minihack/dat *
recursive-include minihack/lib *
recursive-include minihack/scripts *
recursive-include minihack/agent *
recursive-include minihack/tiles *
recursive-exclude build *
