// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.ep-container {
  .ep-size {
    .ep-size-plus-minus {
      float: right;
    }
  }
  .ep-logo {
    img {
      max-height: 160px;
    }
  }
  .ep-tiles {
    .ep-tiles-selection {
      .ep-tiles-selection-scroll {
        // max-height: 500px;
        overflow: scroll;
        overflow-x: hidden;
      }

      .selected {
        //background-color: #e4ffe4;
        img {
          border: solid;
          border-color: #00ff00;
        }
      }

      .selectable {
        :hover {
          opacity: 0.5;
        }
      }

      .ep-tiles-selection-title {
        text-align: center;
        padding: 0px;
      }

      .ep-tiles-selection-item {
        padding: 0px;
        float: right;

        .header {
          font-weight: bold;
        }

        .ep-tiles-selection-item-tile {
          img {
            width: 40px;
            height: 40px;
            border-style: outset;
          }
          text-align: center;
          max-width: 100px;
          padding: 2px;
          flex-grow: 0;
        }
        .ep-tiles-selection-item-char {
          max-width: 100px;
          text-align: center;
        }
      }
    }
  }
  .ep-des {

  }
  .ep-ide {
    .ep-ide-map-builder {
      .ep-ide-editor {
        :hover {
          cursor: crosshair;
        }
      }
    }
  }
}
